# This rule is not used by the project oooi itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to hostedcluster.densityops.com resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: oooi
    app.kubernetes.io/managed-by: kustomize
  name: infra-viewer-role
rules:
- apiGroups:
  - hostedcluster.densityops.com
  resources:
  - infras
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - hostedcluster.densityops.com
  resources:
  - infras/status
  verbs:
  - get
