# This rule is not used by the project oooi itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the hostedcluster.densityops.com.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: oooi
    app.kubernetes.io/managed-by: kustomize
  name: infra-editor-role
rules:
- apiGroups:
  - hostedcluster.densityops.com
  resources:
  - infras
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - hostedcluster.densityops.com
  resources:
  - infras/status
  verbs:
  - get
